
.diaperchange-legend-text {
  font-size: 22px;
  text-anchor: middle;
}

.diaperchange-bar-text {
  font-size: 18px;
  text-anchor: middle;
}

.sleep-chart-axis-label {
  font-size: 18px;
  text-anchor: middle;
  fill: white;
}
