{% extends 'babybuddy/page.html' %}
{% load bootstrap i18n widget_tweaks account js_helpers %}

{% block title %}{% trans "User Account" %}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active">{% trans "My Account" %}</li>
{% endblock %}

{% block content %}
  <script src="https://js.stripe.com/v3/"></script>
  <div class="row" id='account-container'>
    <div class="col-md-10 offset-1">
      <h1 class='mb-5'>{% trans "My Account" %}</h1>

      {% if not is_free_premium %}
      <form id='subscription-form' action="{% url 'babybuddy:user-account-subscription' user.account.id %}" class="mb-5 mt-3" method="POST">
        <legend class="mb-4">{% trans "Account Plan" %}</legend>
        {% csrf_token %}
        <input type="hidden" name="stripe_subscription_token" id="stripe_subscription_token">
        <input type="hidden" name="stripe_subscription_service" id="stripe_subscription_service" value="{{ subscription_service }}">

        <!-- pricing cards go here -->
        <div class="card-deck mb-3 text-center">

          <div class="card box-shadow">
            <div class="card-header">
              <h2 class="my-0 font-weight-normal">Free</h2>
            </div>
            <div class="card-body">
              <h3 class="card-title">
                $0 <small class="text-muted">/ mo</small>
              </h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>1 account member</li>
                <li>1 child</li>
                <li>10 timers <small class="text-muted">/ mo</small></li>
                <li>10 notifications <small class="text-muted">/ mo</small></li>
                <li>unlimited activity logging</li>
                <li>unlimited reporting</li>
              </ul>
              <a
                id='free-plan-btn'
                class="btn btn-lg btn-block btn-secondary {% if not is_premium %}disabled{% endif %}">
                {% if not is_premium %}{% trans "Current Plan" %}{% else %}{% trans "Downgrade" %}{% endif %}
              </a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h2 class="my-0 font-weight-normal">Premium</h2>
            </div>
            <div class="card-body">
              <h3 class="card-title">
                $2 <small class="text-muted">/ mo</small>
              </h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ premium_member_cnt }} account members ($1 additional per member)</li>
                <li>{{ premium_child_cnt }} child ($1 additional per child)</li>
                <li>unlimited timers</li>
                <li>unlimited notifications</li>
                <li>unlimited activity logging</li>
                <li>unlimited reporting</li>
              </ul>
              <a
                id='premium-plan-btn'
                class="btn btn-lg btn-block btn-secondary {% if is_premium %}disabled{% endif %}">
                {% if is_premium %}{% trans "Current Plan" %}{% else %}{% trans "Upgrade" %}{% endif %}
              </a>
            </div>
          </div>

        </div>
      </form>
      {% else %}
      <div class="card">
        <div class="card-header bg-success">
          <h2 class="my-0 font-weight-normal">Free Premium Service</h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>{{ account.max_account_members }} account members ($1 additional per person)</li>
            <li>{{ account.max_children }} child ($1 additional per child)</li>
            <li>unlimited timers</li>
            <li>unlimited notifications</li>
            <li>unlimited activity logging</li>
            <li>unlimited reporting</li>
          </ul>
          <h4 class="text-info text-center">Service Expires {{ account.free_premium_end_date|date:"M j, Y" }}</h4>
        </div>
      </div>
      {% endif %}

      <form class='mb-5 mt-3' role="form" action="{% url 'babybuddy:user-account' %}" method="POST">
        {% csrf_token %}
        {{ account_settings_form.account }}
        <fieldset>
          <legend>{% trans "Account Settings" %}</legend>
          <div class="form-group row">
            {% with account_form.name as field %}
              {% include 'babybuddy/form_field.html' %}
            {% endwith %}
          </div>
          <div class="form-group row">
            {% with account_settings_form.phone_notifications_enabled as field %}
              {% include 'babybuddy/form_field.html' %}
            {% endwith %}
          </div>
          <div class="form-group row">
            {% with account_settings_form.email_notifications_enabled as field %}
              {% include 'babybuddy/form_field.html' %}
            {% endwith %}
          </div>
        </fieldset>
        <div class="form-group row justify-content-end">
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
      </form>

      <legend class="mb-4 mt-3">{% trans "Account Children" %}</legend>
      <div class="table-responsive mb-5">
        <table class="table table-striped table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Birth Date" %}</th>
              <th class="text-center">{% trans "Active" %}</th>
              <th class="text-center">{% trans "Actions" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for child in children %}
            <tr>
              <td>{{ child.name }}</td>
              <td>{{ child.birth_date|date:"" }}</td>
              <td class="text-center">{{ child.is_active|bool_icon }}</td>
              <td class="text-center">
                <a class="btn btn-info"  href="{% url 'core:child-update' child.slug %}" role="button">
                  <i class="icon icon-update"></i>
                </a>
              </td>
            </tr>
            {% empty %}
              <tr>
                <th colspan="4">{% trans "No children found." %}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if is_premium %}
      <legend class="mb-4 mt-3">{% trans "Account Members" %}</legend>

      <form id='invitee-form' action="{% url 'babybuddy:user-account-invite' user.account.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="stripe_invitee_token" id="stripe_invitee_token">
        <input type="hidden" name="stripe_invitee_user_email" id="stripe_invitee_user_email">
        <input type="hidden" name="stripe_invitee_use_existing_payment_source" id="stripe_invitee_use_existing_payment_source">
        <div class="row mb-4">
          <div class="col">
            <div class="input-group">
              <input id='invitee' name="invitee" type="text" class='form-control' placeholder="{% trans 'Invite user by email' %}">
              <div class="input-group-append">
                <a id='invitee-btn' class="btn btn-success">Invite</a>
              </div>
            </div>
            <div class="help-block">
              {% if account.can_add_account_member %}
                {% trans "You may add up to " %}{{ account.number_of_members_available_to_add_free }}{% trans " more members before incurring additional costs of $1 per new user." %}
              {% else %}
                {% trans "Adding an additional member will incur an additional cost of $1 per user." %}
              {% endif %}
            </div>
          </div>
        </div>
      </form>

      <div class="table-responsive mb-5">
        <table class="table table-striped table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Phone" %}</th>
              <th class="text-center">{% trans "Phone Notifications" %}</th>
              <th>{% trans "Email" %}</th>
              <th class="text-center">{% trans "Email Notifications" %}</th>
              <th class="text-center">{% trans "Active" %}</th>
              <th class="text-center">{% trans "Actions" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for account_member in account_members %}
            <tr>
              <td>{{ account_member.first_name }} {{ account_member.last_name }}</td>
              <td>{% if account_member.phone_number %} {{ account_member.phone_number }}{% endif %}</td>
              <td class="text-center">{{ account_member.phone_notifications_enabled|bool_icon }}</td>
              <td>{{ account_member.email }}</td>
              <td class="text-center">{{ account_member.email_notifications_enabled|bool_icon }}</td>
              <td class="text-center">{{ account_member.is_active|bool_icon }}</td>
              <td class="text-center">
                {% if account_member.is_active %}
                <form style="display: inline;" method="POST" class='deactivate-member-form' action="{% url 'babybuddy:user-account-member-deactivate' account.id account_member.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="account" value="{{ account.id }}">
                  <button type="button" class="btn btn-warning deactivate-account-user-btn">{% trans "Deactivate" %}</button>
                </form>
                {% else %}
                <form style="display: inline;" method="POST" class='delete-member-form' action="{% url 'babybuddy:user-account-member-delete' account.id account_member.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="account" value="{{ account.id }}">
                  <button type="button" class="btn btn-danger delete-account-user-btn">{% trans "Remove" %}</button>
                </form>
                {% endif %}
              </td>
            </tr>
            {% empty %}
              <tr>
                <th colspan="7">{% trans "No account members found." %}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}

      <div class="form-group row">
        <div class="col-4">
          <a id="delete-account-btn" class="btn btn-danger btn-lg">Delete Account</a>
        </div>
      </div>
      <form id="delete-account-form" action="{% url 'babybuddy:user-account-delete' user.id %}" method="POST">
        {% csrf_token %}
      </form>
    </div>

  <!-- Confirm Delete Account Modal -->
  <div id='confirm-delete-account-modal' class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="text-center text-dark">{% trans "Deleting Account" %}</h4>
          <p class="text-center text-dark">{% trans "This action cannot be reversed. Are you sure you want to delete your account?" %}</p>
          <p class="text-center">
            <button id="confirm-delete-account-btn" class="btn btn-primary">{% trans "Yes" %}</button>
            <button class="btn btn-danger" data-dismiss="modal">{% trans "Cancel" %}</button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm Deactivate Account Modal -->
  <div id='confirm-deactivate-member-modal' class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="text-center text-dark">{% trans "Deactivating Account Member" %}</h4>
          <p class="text-center text-dark">{% trans "This action results in:" %}</p>
          <ul class="text-dark">
            <li>{% trans "You can still view the activities they have entered" %}</li>
            <li>{% trans "User cannot create any additional activities" %}</li>
            <li>{% trans "User cannot view account" %}</li>
            <li>{% trans "This action may open a spot to add a new account member if your account allows it" %}</li>
          </ul>
          <p class="text-center">
            <button id="confirm-deactivate-member-btn" class="btn btn-primary">{% trans "Yes" %}</button>
            <button class="btn btn-danger" data-dismiss="modal">{% trans "Cancel" %}</button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm Delete Account Modal -->
  <div id='confirm-delete-member-modal' class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="text-center text-dark">{% trans "Deleting Account Member" %}</h4>
          <p class="text-center text-dark">{% trans "This action cannot be reversed. Are you sure you want to delete this account member?" %}</p>
          <p class="text-center">
            <button id="confirm-delete-member-btn" class="btn btn-primary">Yes</button>
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Premium Plan Modal -->
  <div class="modal fade" id="payment-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header bg-primary">
          <h3 class="modal-title text-dark">{% trans "Baby Asst Payment Submission" %}</h3>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body text-dark">
          <div class="row mb-2">
            <div class="col-10 offset-1">
              <h4 id="purchase-description"></h4>
            </div>
          </div>
          <div class="row mb-3" id='existing-payment-source-section'>
            <div class="col-10 offset-1">
              <table>
                <tr>
                  <td align="left" style="font-weight: bold; width: 120px;">Brand</td>
                  <td align="left"><span id="payment-brand"></span></td>
                </tr>
                <tr>
                  <td align="left" style="font-weight: bold; width: 120px;">Number</td>
                  <td align="left">**** **** **** <span id="payment-last4"></span></td>
                </tr>
                <tr>
                  <td align="left" style="font-weight: bold; width: 120px;">Expiration</td>
                  <td align="left"><span id="payment-expmo"></span> / <span id="payment-expyr"></span></td>
                </tr>
              </table>
              <div class="form-check mt-2">
                <input type="checkbox" id="use-existing-payment-source">
                <label for="use-existing-payment-source">Use this payment source</label>
              </div>
            </div>
          </div>

          <div class="row mb-4" id="cc-container">
            <div class="col-10 offset-1">
              <label class="text-dark" style="font-weight: bold;" for="card-elements">
                Enter Card Details Below
              </label>
              <div id="card-element"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1">
              <div id="card-errors" role="alert"></div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-10 offset-1">
              <div class="input-group mb-3">
                <input type="text" id="promo-code" class="form-control" placeholder="Apply a promo code">
                <div class="input-group-append">
                  <button id="apply-promo-btn" class="btn btn-success">Apply</button>
                </div>
              </div>
              <small id="promo-code-help-text" class="form-text text-muted"></small>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-4 offset-8">
              <button id="payment-btn" class="btn btn-primary">Submit Payment</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}

<script>

$(function(){
  var userId = {{ user.id }};
  var accountId = {{ user.account.id }};
  var stripeClientKey = "{{ stripe_client_key }}";

  BabyBuddy.Account.init(
    'account-container',
    userId,
    accountId,
    stripeClientKey
  );
});
</script>
{% endblock %}
