{% load i18n widget_tweaks %}

<div class="container-fluid">
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
            <div class="form-group row">
                {% include 'babybuddy/form_field.html' %}
            </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
</div>
