{% extends 'babybuddy/page.html' %}
{% load i18n static cards thumbnail %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'core:child-list' %}">{% trans "Children" %}</a></li>
  <li class="breadcrumb-item font-weight-bold">{{ object }}</li>
{% endblock %}

{% block content %}
<div id='child-detail'>

  <div class="row">
    <div class="col-lg-3 col-md-5 pb-3 text-center">
      {% if object.picture %}
        {% thumbnail object.picture 150x150 upscale crop as thumb %}
        <img src="{{ thumb.url }}" class="child-photo img-fluid rounded-circle" />
      {% else %}
        <img src="{% static 'babybuddy/img/core/child-placeholder.png' %}" class="child-photo img-fluid rounded-circle" />
      {% endif %}
      <div class="child-name display-4">{{ object }}</div>
      <p class="lead">
        {% trans "Born" %} <span class="text-secondary">{{ object.birth_date }}</span><br/>
        {% trans "Age" %} <span class="text-secondary">{{ object.age }}</span>
      </p>
    </div>
    <div class="col-lg-9 col-md-7">
      <h2 class="text-center">{% trans "Activities" %}</h2>
      <div class="card-deck mb-2">
        <a href="{% url 'core:bath' slug=object.slug %}" class="card card-dashboard card-bath" id='bath-card'>
          <div class="card-header text-center">
            <h3 class="text-center"><i class="icon icon-bath mr-2" aria-hidden="true"></i> {% trans "Baths" %}</h3>
          </div>
          <div class="card-body text-center"">
            <span class="card-title" style="font-weight: bolder;">
              <i class="icon icon-sad" aria-hidden="true"></i>
              Nothing Yet
              <i class="icon icon-sad" aria-hidden="true"></i>
            </span>
            <div class="card-text"></div>
          </div>
        </a>
        <a href="{% url 'core:diaperchange' slug=object.slug %}" class="card card-dashboard card-diaperchange" id='diaperchange-card'>
          <div class="card-header text-center">
            <h3 class="text-center"><i class="icon icon-diaperchange mr-2" aria-hidden="true"></i> {% trans "Diapers" %}</h3>
          </div>
          <div class="card-body text-center"">
            <span class="card-title" style="font-weight: bolder;">
              <i class="icon icon-sad" aria-hidden="true"></i>
              Nothing Yet
              <i class="icon icon-sad" aria-hidden="true"></i>
            </span>
            <div class="card-text"></div>
          </div>
        </a>
        <a href="{% url 'core:feeding' slug=child.slug %}" class="card card-dashboard card-feeding" id="feeding-card">
          <div class="card-header text-center">
            <h3 class="text-center"><i class="icon icon-feeding mr-2" aria-hidden="true"></i> {% trans "Feedings" %}</h3>
          </div>
          <div class="card-body text-center"">
            <span class="card-title" style="font-weight: bolder;">
              <i class="icon icon-sad" aria-hidden="true"></i>
              Nothing Yet
              <i class="icon icon-sad" aria-hidden="true"></i>
            </span>
            <div class="card-text"></div>
          </div>
        </a>
        <a href="{% url 'core:note' slug=child.slug %}" class="card card-dashboard card-note" id='note-card'>
          <div class="card-header text-center">
            <h3 class="text-center"><i class="icon icon-note mr-2" aria-hidden="true"></i> {% trans "Notes" %}</h3>
          </div>
          <div class="card-body text-center"">
            <span class="card-title" style="font-weight: bolder;">
              <i class="icon icon-sad" aria-hidden="true"></i>
              Nothing Yet
              <i class="icon icon-sad" aria-hidden="true"></i>
            </span>
            <div class="card-text"></div>
          </div>
        </a>
      </div>
      
      <div class="card-deck mb-5">
        <a href="{% url 'core:sleep' slug=child.slug %}" class="card card-dashboard card-sleep" id='sleep-card'>
          <div class="card-header text-center">
            <h3 class="text-center"><i class="icon icon-sleep mr-2" aria-hidden="true"></i> {% trans "Sleep" %}</h3>
          </div>
          <div class="card-body text-center"">
            <span class="card-title" style="font-weight: bolder;">
              <i class="icon icon-sad" aria-hidden="true"></i>
              Nothing Yet
              <i class="icon icon-sad" aria-hidden="true"></i>
            </span>
            <div class="card-text"></div>
          </div>
        </a>
        <a href="{% url 'core:temperature' slug=child.slug %}" class="card card-dashboard card-temperature" id='temperature-card'>
          <div class="card-header text-center">
            <h3 class="text-center"><i class="icon icon-temperature mr-2" aria-hidden="true"></i> {% trans "Temperature" %}</h3>
          </div>
          <div class="card-body text-center"">
            <span class="card-title" style="font-weight: bolder;">
              <i class="icon icon-happy" aria-hidden="true"></i>
              Nothing Yet
              <i class="icon icon-happy" aria-hidden="true"></i>
            </span>
            <div class="card-text"></div>
          </div>
        </a>

        <a href="{% url 'core:tummytime' slug=child.slug %}" class="card card-dashboard card-tummytime" id='tummytime-card'>
          <div class="card-header text-center">
            <h3 class="text-center"><i class="icon icon-tummytime mr-2" aria-hidden="true"></i> {% trans "Tummy Time" %}</h3>
          </div>
          <div class="card-body text-center"">
            <span class="card-title" style="font-weight: bolder;">
              <i class="icon icon-sad" aria-hidden="true"></i>
              Nothing Yet
              <i class="icon icon-sad" aria-hidden="true"></i>
            </span>
            <div class="card-text"></div>
          </div>
        </a>

        <a href="{% url 'core:weight' slug=child.slug %}" class="card card-dashboard card-weight" id='weight-card'>
          <div class="card-header text-center">
            <h3 class="text-center"><i class="icon icon-weight mr-2" aria-hidden="true"></i> {% trans "Weight" %}</h3>
          </div>
          <div class="card-body text-center"">
            <span class="card-title" style="font-weight: bolder;">
              <i class="icon icon-sad" aria-hidden="true"></i>
              Nothing Yet
              <i class="icon icon-sad" aria-hidden="true"></i>
            </span>
            <div class="card-text"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2 class="text-center">{% trans "Summary" %}</h2>
      <div id="dashboard-child" class="row">
        <div class="col-lg-6 col-sm-12">
          {% card_diaperchange_types object %}
        </div>
        <div class="col-lg-6 col-sm-12">
          {% card_statistics object %}
          {% comment %}{% card_sleep_day object %}{% endcomment %}

          <div class="card card-dashboard card-sleep" id="todays-sleep">
            <div class="card-header">
                <i class="icon icon-sleep pull-left" aria-hidden="true"></i>
                Today's Sleep
            </div>
            <div class="card-body text-center">
              <span class="card-title text-center" style="font-weight: bolder;">
                <i class="icon icon-sad" aria-hidden="true"></i>
                None yet today
                <i class="icon icon-sad" aria-hidden="true"></i>
              </span>
              <div class="card-text text-center"></div>
            </div>
          </div>

          <div class="card card-dashboard card-feeding" id="todays-feedings">
              <div class="card-header">
                <i class="icon icon-feeding pull-left" aria-hidden="true"></i>
                Today's Feeding
              </div>
              <div class="card-body text-center">
                <span class="card-title text-center" style="font-weight: bolder;">
                    <i class="icon icon-sad" aria-hidden="true"></i>
                    None yet today
                    <i class="icon icon-sad" aria-hidden="true"></i>
                </span>
                <div class="card-text text-center"></div>
              </div>
          </div>
          {% comment %}{% card_feeding_day object %}{% endcomment %}
        </div>

      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2 class="text-center">{% trans "Timeline" %}</h2>
      <div class="card" id="timeline-card">
        <div class="card-header text-center">
          <h3 class="text-center">
            <a class="btn btn-sm btn-primary" id="prev-timeline-day" href="#" aria-label='{% trans "Previous" %}'>
              <i class="icon icon-chevron-left" aria-hidden="true"></i>
              <span class="sr-only">{% trans "Previous" %}</span>
            </a>
            <span id="timeline-current-date" style="margin: 5px 12px;"></span>
            <a class="btn btn-sm btn-primary" id="next-timeline-day" href="" aria-label='{% trans "Next" %}'>
              <i class="icon icon-chevron-right" aria-hidden="true"></i>
              <span class="sr-only">{% trans "Next" %}</span>
            </a>
          </h3>
        </div>
        <div class="card-body text-center" style="background-color: #292d31; border-color: yellow; border-width: 2px;" id="timeline-card-body">
          <svg id="timeline-top-axis"></svg>
          <div style="max-height: 600px; overflow-y: auto;">
            <svg id="timeline-chart"></svg>
          </div>
          <svg id="timeline-bottom-axis"></svg>
        </div>
      </div>
    </div>
  </div>

  {% include 'core/diaperchange_modal.html' %}
  {% include 'core/feeding_modal.html' %}
  {% include 'core/sleep_modal.html' %}

</div>

{% endblock %}


{% block javascript %}

<script type="application/javascript">
  var childId = {{ object.id }};
  BabyBuddy.ChildDetail.init(childId, 'child-detail');

{% comment %}
{% if user.settings.dashboard_refresh_rate %}
  BabyBuddy.Dashboard.watch('dashboard-child', {{ user.settings.dashboard_refresh_rate_milliseconds }});
{% else %}
  BabyBuddy.Dashboard.watch('dashboard-child', false);
{% endif %}
{% endcomment %}
</script>
{% endblock %}
