{% extends 'babybuddy/page.html' %}
{% load i18n static cards thumbnail %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'core:child-list' %}">{% trans "Children" %}</a></li>
  <li class="breadcrumb-item font-weight-bold">{{ object }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 col-md-5 pb-3 text-center">
      {% if object.picture %}
        {% thumbnail object.picture 150x150 upscale crop as thumb %}
        <img src="{{ thumb.url }}" class="child-photo img-fluid rounded-circle" />
      {% else %}
        <img src="{% static 'babybuddy/img/core/child-placeholder.png' %}" class="child-photo img-fluid rounded-circle" />
      {% endif %}
      <div class="child-name display-4">{{ object }}</div>
      <p class="lead">
        {% trans "Born" %} <span class="text-secondary">{{ object.birth_date }}</span><br/>
        {% trans "Age" %} <span class="text-secondary">{{ object.birth_date|timesince }}</span>
      </p>
      {% include 'dashboard/child_button_group.html' %}
    </div>
    <div class="col-lg-9 col-md-7">
      <h2 class="text-center">{% trans "Activities" %}</h2>
      <div class="card-deck mb-5">
        <a href="{% url 'core:diaperchange' slug=object.slug %}" class="card card-diaperchange">
          <div class="card-header text-center">
            <i class="icon icon-2x icon-diaperchange" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-center">{% trans "Diaper Changes" %}</h3>
          </div>
        </a>
        <a href="{% url 'core:feeding' slug=child.slug %}" class="card card-feeding">
          <div class="card-header text-center">
            <i class="icon icon-2x icon-feeding" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-center">{% trans "Feedings" %}</h3>
          </div>
        </a>
        <a href="{% url 'core:sleep' slug=child.slug %}" class="card card-sleep">
          <div class="card-header text-center">
            <i class="icon icon-2x icon-sleep" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-center">{% trans "Sleep" %}</h3>
          </div>
        </a>
      </div>
      <div class="card-deck mb-5">
        <a href="{% url 'core:temperature' slug=child.slug %}" class="card card-temperature">
          <div class="card-header text-center">
            <i class="icon icon-2x icon-temperature" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-center">{% trans "Temperature" %}</h3>
          </div>
        </a>
        <a href="{% url 'core:tummytime' slug=child.slug %}" class="card card-tummytime">
          <div class="card-header text-center">
            <i class="icon icon-2x icon-tummytime" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-center">{% trans "Tummy Time" %}</h3>
          </div>
        </a>
        <a href="{% url 'core:weight' slug=child.slug %}" class="card card-weight">
          <div class="card-header text-center">
            <i class="icon icon-2x icon-weight" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-center">{% trans "Weight" %}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row" id='child-detail'>
    <div class="col-lg-7 col-md-7 col-sm-12">
      <h2 class="text-center">{% trans "Summary" %}</h2>
      <div id="dashboard-child" class="card-columns">
        {% card_feeding_last object %}
        {% card_feeding_last_method object %}
        {% card_timer_list %}
        {% card_statistics object %}
        {% card_sleep_last object %}
        {% card_sleep_day object %}
        {% card_sleep_naps_day object %}
        {% card_tummytime_day object %}
        {% card_diaperchange_last object %}
        {% card_diaperchange_types object %}
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">
      <h2 class="text-center">{% trans "Timeline" %}</h2>
      <div class="card card-timeline">
        <div class="card-header text-center">
          <h3 class="text-center">
            <a class="btn btn-sm btn-dark" id="prev-timeline-day" href="#" aria-label='{% trans "Previous" %}'>
              <i class="icon icon-chevron-left" aria-hidden="true"></i>
              <span class="sr-only">{% trans "Previous" %}</span>
            </a>
            <span id="timeline-current-date" style="margin: 5px 12px;"></span>
            <a class="btn btn-sm btn-dark" id="next-timeline-day" href="" aria-label='{% trans "Next" %}'>
              <i class="icon icon-chevron-right" aria-hidden="true"></i>
              <span class="sr-only">{% trans "Next" %}</span>
            </a>
          </h3>
        </div>
        <div class="card-body" style="background-color: #292d31;">
          <ul class="timeline m-auto" id="timeline-container"></ul>
        </div>
      </div>
      {% comment %}
      <h2 class="text-center">{% trans "Timeline" %}</h2>
      <h3 class="text-center">
        <a class="btn btn-sm btn-default" id="prev-timeline-day" href="#" aria-label='{% trans "Previous" %}'>
          <i class="icon icon-chevron-left" aria-hidden="true"></i>
          <span class="sr-only">{% trans "Previous" %}</span>
        </a>
        <span id="timeline-current-date"></span>
        <a class="btn btn-sm btn-default" id="next-timeline-day" href="" aria-label='{% trans "Next" %}'>
          <i class="icon icon-chevron-right" aria-hidden="true"></i>
          <span class="sr-only">{% trans "Next" %}</span>
        </a>
      </h3>
      <ul class="timeline m-auto" id="timeline-container">
          
      </ul>
      {% endcomment %}
    </div>
  </div>
{% endblock %}


{% block javascript %}

<script type="application/javascript">
  var childId = {{ object.id }};
  BabyBuddy.ChildDetail.init(childId, 'child-detail');

{% if user.settings.dashboard_refresh_rate %}
  BabyBuddy.Dashboard.watch('dashboard-child', {{ user.settings.dashboard_refresh_rate_milliseconds }});
{% else %}
  BabyBuddy.Dashboard.watch('dashboard-child', false);
{% endif %}
</script>
{% endblock %}
