{% extends 'babybuddy/page.html' %}
{% load i18n %}

{% block title %}
  {% trans "Update a Diaper Change" %}
{% endblock %}

{% block breadcrumbs %}
{% if child %}
  <li class="breadcrumb-item"><a href="{% url 'core:child-list' %}">{% trans "Children" %}</a></li>
  <li class="breadcrumb-item">
    <a href="{% url 'core:child' slug=child.slug %}">
      {{ child }}
    </a>
  </li>
  <li class="breadcrumb-item"><a href="{% url 'core:diaperchange' slug=child.slug %}">{% trans "Diaper Changes" %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10 offset-1">
      {% if child %}
      {% blocktrans %}
        <h1 class="mb-5">Update <span class="text-info">Diaper Change</span></h1>
      {% endblocktrans %}
      {% else %}
      {% blocktrans %}
        <h1 class="mb-5">Add <span class="text-info">Diaper Change</span></h1>
      {% endblocktrans %}
      {% endif %}
      <div class="mb-5">
        {% include 'babybuddy/form.html' %}
      </div>
    </div>
  </div>
  
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(function () {
      BabyBuddy.TimeFormHandler($('#babybuddy-form'), $('#datetimepicker_time'));
    });
  </script>
{% endblock %}