{% extends 'babybuddy/page.html' %}
{% load bootstrap i18n widget_tweaks %}

{% block title %}
  {% trans "Temperatures" %}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'core:child' slug=child.slug %}">
      {{ child }}
    </a>
  </li>
  <li class="breadcrumb-item active"><a href="{% url 'core:temperature' slug=child.slug %}">{% trans "Temperatures" %}</a></li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10 offset-1">
      <h1 class='mb-5'>{% trans "Tempuratures" %}</h1>
      <div class="mb-5">
        {% include 'babybuddy/form.html' %}
      </div>

      <div class="table-responsive mb-4">
        <table class="table table-striped table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>{% trans "Temperature" %}</th>
              <th>{% trans "Time" %}</th>
              <th class="text-center">{% trans "Actions" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr>
                <td>{{ object.temperature }}</td>
                <td>{{ object.time }}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-sm" role="group" aria-label="{% trans "Actions" %}">
                    <a href="{% url 'core:temperature-update' slug=child.slug pk=object.id %}" class="btn btn-primary">
                      <i class="icon icon-update" aria-hidden="true"></i>
                    </a>
                    {% if object.child.account == user.account %}
                      <a href="{% url 'core:temperature-delete' slug=child.slug pk=object.id %}" class="btn btn-danger">
                        <i class="icon icon-delete" aria-hidden="true"></i>
                      </a>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% empty %}
              <tr>
                <th colspan="4">{% trans "No temperature entries found." %}</th>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    {% comment %}
    {% include 'babybuddy/paginator.html' %}
    {% endcomment %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker_time').datetimepicker({
        defaultDate: 'now',
        format: 'YYYY-MM-DD hh:mm'
      });
    });
  </script>
{% endblock %}
