{% extends 'babybuddy/page.html' %}
{% load bootstrap duration i18n widget_tweaks %}

{% block title %}{% trans "Timers" %}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">{% trans "Timers" %}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10 offset-1">
      <div class="row mb-4">
        <div class="col-lg-10 col-sm-12">
          <h2 class='mb-3'>{% trans "Timers" %}</h2>
        </div>
        <div class="col-lg-2 col-sm-12">
          <h2 class="text-center">
            <a href="{% url 'core:timer-quick-add' %}" class="btn add-activity">
              <i class="icon icon-5x icon-add-circle text-info"></i>
              {% trans "Add" %}
            </a>
          </h2>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Status" %}</th>
              <th>{% trans "Child" %}</th>
              <th>{% trans "Account" %}</th>
              <th>{% trans "Duration" %}</th>
              <th>{% trans "Created By" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for timer in timers %}
              <tr>
                <td><a href="{% url 'core:timer-detail' timer.id %}">{% if timer.name %}{{ timer.name }}{% else %}{{ timer }}{% endif %}</a></td>
                <td>
                  {% if timer.active %}
                  <span style="color:green;">{% trans "Active" %}</span>
                  {% elif not timer.active and not timer.complete %}
                  <span style="color:yellow;">{% trans "Paused" %}</span>
                  {% else %}
                  <span style="color:red;">{% trans "Complete" %}</span>
                  {% endif %}
                </td>
                <td>{{ timer.child.first_name }}</td>
                <td>{{ timer.account.name }}</td>
                <td>{{ timer.duration|duration_string }}</td>
                <td>{{ timer.user }}</td>
              </tr>
            {% empty %}
              <tr>
                <th colspan="7">{% trans "No timer entries found." %}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}
