{% extends 'babybuddy/page.html' %}
{% load i18n %}

{% block title %}
  {% trans "Update a Tummy Time Entry" %}
{% endblock %}

{% block breadcrumbs %}
{% if child %}
  <li class="breadcrumb-item"><a href="{% url 'core:child-list' %}">{% trans "Children" %}</a></li>
  <li class="breadcrumb-item">
    <a href="{% url 'core:child' slug=child.slug %}">
      {{ child }}
    </a>
  </li>
  <li class="breadcrumb-item"><a href="{% url 'core:tummytime' slug=child.slug %}">{% trans "Tummy Time" %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10 offset-1">
      {% if child %}
      {% blocktrans %}<h1>Update <span class="text-info">{{ object }}</span></h1>{% endblocktrans %}
      {% else %}
      {% blocktrans %}<h1>Add <span class="text-info">{{ object }}</span></h1>{% endblocktrans %}
      {% endif %}
      {% include 'babybuddy/form.html' %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

  $(function () {
    BabyBuddy.DurationFormHandler(
      $('#babybuddy-form'),
      $('#datetimepicker_start'),
      $('#datetimepicker_end')
    );
  });
</script>
{% endblock %}
