{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% trans "Baby Asst Notification" %}: {{ notification.title }}</title>
</head>
<body>
  <h1>{% trans "Baby Asst Notification" %}</h1>

  <h3>{{ notification.title }}</h3>
  
  <p>{{ notification.body }}</p>

  <h4>{% trans "Sincerely" %},</h4>
  <h4>{% trans "Baby Asst Staff" %}</h4>
</body>
</html>